# Frontend
VITE_API_URL=http://localhost:4000/graphql

# Backend
PORT=4000
NODE_ENV=development

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=chronovault
POSTGRES_USER=chronovault
POSTGRES_PASSWORD=secret

# MongoDB
MONGO_URI=mongodb://localhost:27017/chronovault
